{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <p><strong>author:</strong> {{ user }}</p>
    <p><strong>created at:</strong> {{ created_at|date:"Y-m-d h:i a" }}</p>
    <hr>
    <p><strong>description:</strong><br>{{ description|linebreaksbr }}</p>
    <p>start: {{ start_date|date:"Y-m-d h:i a" }}</p>
    <p>end: {{ end_date|date:"Y-m-d h:i a" }}</p>
    <p><strong>is complted?</strong><br>{{ is_completed }}</p>
    <hr>

    <a href="{% url 'todo_update' pk=id %}">edit</a>

    <form action="{% url 'todo_delete' pk=id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Are you sure you want to delete it?');">delete</button>
    </form>

    <a href="{% url 'todo_list' %}">back</a>
{% endblock %}