{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Todo List</h1>
        <p style="text-align: right">
            <a href="{% url 'todo_create' %}">create</a>
        </p>
    </div>
    <hr>

    {% for todo in page_obj %}
        <div>
            <h4>
                <a href="{% url 'todo_info' pk=todo.pk %}">{{ todo.title }}</a> [until {{ todo.end_date|date:"Y-m-d" }} Status: {{ todo.is_completed }}]
            </h4>
        </div>
        <hr>
    {% endfor %}

    <nav>
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page=1">&laquo; first page</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">prev</a></li>
            {% endif %}

            <li>
                page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </li>

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">last page &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}