<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ todo.title }}</h1>
    <p>설명 : {{ todo.description }}</p>
    <p>시작일 : {{ todo.start_date }}</p>
    <p>마감일 : {{ todo.end_date }}</p>
    <p>완료여부 : {{ todo.is_completed }}</p>
</body>
</html>